$white: #ffffff;
.white { color: $white; }
.bg-white { background-color: $white; }

$black: #111111;
.black { color: $black; }
.bg-black { background-color: $black; }

$lightGray: #f4f4f4;
.lightGray { color: $lightGray; }
.bg-lightGray { background-color: $lightGray; }

// Finance Colors //

$navy: #0a5c81;
.navy { color: $navy; }
.bg-navy { background-color: $navy; }

$teal: #0085bd;
.teal { color: $teal; }
.bg-teal { background-color: $teal; }

$gold: #fda630;
.gold { color: $gold; }
.bg-gold { background-color: $gold; }

$medGray: #444444;
.medGray { color: $medGray; }
.bg-medGray { background-color: $medGray; }

$darkGray: #444444;
.darkGray { color: $darkGray; }
.bg-darkGray { background-color: $darkGray; }

// Health Colors //

$blue: #6ca3b7;
.blue { color: $blue; }
.bg-blue { background-color: $blue; }

$green: #6bab99;
.green { color: $green; }
.bg-green { background-color: $green; }

$darkGreen: #3a7364;
.darkGreen { color: $darkGreen; }
.bg-darkGreen { background-color: $darkGreen; }

$gray: #9a9a9a;
.gray { color: $gray; }
.bg-gray { background-color: $gray; }

$brown: #999999;
.brown { color: $brown; }
.bg-brown { background-color: $brown; }

// Insurance Colors //

$yellow: #ffc500;
.yellow { color: $yellow; }
.bg-yellow { background-color: $yellow; }

$lightYellow: #fee300;
.lightYellow { color: $lightYellow; }
.bg-lightYellow { background-color: $lightYellow; }

$darkYellow: #d9a800;
.darkYellow { color: $darkYellow; }
.bg-darkYellow { background-color: $darkYellow; }

$forestGreen: #4d795e;
.forestGreen { color: $forestGreen; }
.bg-forestGreen { background-color: $forestGreen; }

$lightBlue: #5a8ca0;
.lightBlue { color: $lightBlue; }
.bg-lightBlue { background-color: $lightBlue; }

$darkBlue: #294759;
.darkBlue { color: $darkBlue; }
.bg-darkBlue { background-color: $darkBlue; }