.navbar-mini {
  position: absolute;
  right: 0;
  ul {
    float: right;
    li {
      float: left;
      list-style: none;
      margin-left: 15px;
      a {
        font-size: 12px;
      }
    }
  }
}


// Full-Width Bootstrap Dropdowns

.dropdown {
  position: static !important;
}

.dropdown-menu {
  width: 100%;
  min-width: 0;
  left: 0;
  right: 0;
}

// Structure Styles

section {
  margin: 50px 0;
}

footer {
  width: 100%;
  height: auto;
  margin-top: 80px;
  .sub-footer {
    width: 100%;
    height: 50px;
    ul {
      li {
        float: left;
        list-style: none;
      }
    }
  }
}

.formz {
  .form-group {
    margin-top: 20px;
    label {
      float: left;
      width: 100%;
    }
  }
}